# ignore __pycache__
__pycache__/
# ignore .DS_Store
.DS_Store
# ignore files in legacy folder
Legacy/
# ignore geckodriver
geckodriver.log
# ignore log folder
log/
# ignore the dk_lineups_optimized csvs in any subdirectory
**/dk_lineups_optimized.csv
# ignore the .env file
.env